@tailwind base;
@tailwind components;
@tailwind utilities;

/* highlight */
.highlight {
  @apply border-b-4 border-yellow text-primary-800;
}

/* button */
.btn {
  @apply rounded-[5px] px-[50px] py-5 text-2xl text-white hover:opacity-70 focus:outline-none;
}

.btn-primary {
  @apply bg-gradient-to-r from-primary-800 to-primary-500;
}

.btn-orange {
  @apply bg-gradient-to-r from-orange to-yellow hover:opacity-70;
}

/* tag */
.tag{
  @apply bg-primary-800 py-[3px] px-5 text-white text-lg 
}